.curseclient
backups
crash-reports
downloads
ESM
figura
iammusicplayer
immersive_paintings
immersive_paintings_cache
ldlib
local
logs
modernfix
mods
config/embeddium++.toml
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/embeddium-options.json
music_sheets
otyacraftengine
patchouli_books
profileImage
saves
schematics
screenshots
shaderpacks
journeymap
resourcepacks
fabricloader.log
*.log
options.txt
patchouli_data.json
realms_persistence.json
rhino.local.properties
seamless.txt
usercache.json
usernamecache.json
minecraftinstance.json
